.resources-list {
  padding-top: 30px;
  padding-left: 35px;
  margin-left: 350px;
}

.resources-list h1 {
  font-family: 'Inter';
  font-weight: 200;
  font-size: 38px;
  line-height: 46px;
  color: #000000;
}

.resources-list__table {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.resources-list__table__card {
  width: 210px;
  padding: 20px 15px 25px 15px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}

.resource-name {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  margin-bottom: 5px;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.resources-image {
  width: 40px;
}

.resource-type {
  color: #a3a3a3;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

.resource-type_container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-block: 10px;
}

.resource-status {
  margin-bottom: 15px;
}

.resources-list__table__card button {
  border: none;
  border-radius: 5px;
  background: #4285f4;
  color: white;
  padding: 6px 25px;
  cursor: pointer;
}

.resource-details {
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resource-details__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.resource-details__item__key {
  color: #a3a3a3;
  font-family: Inter;
  font-weight: 400;
  margin-right: 10px;
  width: 220px;
}

.header-container {
  display: flex;
  justify-content: space-between; /* Aligns content to the far right */
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.header-text {
  margin: 0;
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  margin-right: 40px;
}

.button-container button {
  background-color: transparent;
  border: 1px solid #333;
  padding: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

button.active {
  background-color: #ccc;
}

.icon {
  margin-right: 5px;
  font-size: 20px;
  width: 20px; /* Adjust the desired width */
  height: 20px; /* Adjust the desired height */
}

tr {
  height: 10px;
}

tr td {
   height: auto !important;
   padding: 5px !important;
}

tr th {
  height: auto !important;
  padding: 5px !important;
}

.table-button button {
  border: none;
  border-radius: 5px;
  background: #4285f4;
  color: white;
  padding: 6px 25px;
  cursor: pointer;
}