/* Header Styling */

header {
  display: flex;
  align-items: center;

  padding: 8px 0;
  border-bottom: 2px solid #dadce0;
}

header .logo {
  margin-right: 10px;
  margin-left: 30px;
  width: 39px;
}

header p {
  font-size: 20px;
  font-weight: 300;
}

/* Pages Navbar*/
.pages-nav {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid #dadce0;
}

.links {
  display: flex;
}

.pages-nav a {
  padding: 0 20px;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

.pages-nav a:hover {
  color: #3367d6;
}

.pages-nav a.active {
  color: #3367d6;
  font-weight: 500;
}

.pages-nav a.active::after {
  content: '';
  position: relative;
  top: 19px;
  left: -20px;
  display: block;
  width: calc(100% + 40px);
  height: 2px;
  background-color: #3367d6;
}

.search-bar {
  background-color: #f4f4f4;
  border: 0.5px solid #999999;
  border-radius: 5px;
  padding: 6px 15px;
}

#search-input {
  background-color: #f4f4f4;
  border: none;
  font-size: 14px;
}

#search-input:focus {
  outline: none;
}
